.root {
  display: block;
  width: 100%;
}

.dropArea {
  min-width: 16rem;
  width: 100%;
  text-align: center;
  border: 2px dashed var(--primary);

  transition: var(--trans-default);
}

.dropArea.faded {
  opacity: 0.5;
  border: 2px dashed var(--gray-1);
}

.dropAreaLabel {
  width: 100%;
  min-height: 8rem;
  line-height: 8rem;
  text-align: center;
  cursor: pointer;

  transition: var(--trans-default);
}

.dropAreaLabel.small {
  line-height: 2rem;
  opacity: 0.75;
}
