.root {
  display: block;
  width: 100%;
}

.dropArea {
  min-width: 16rem;
  width: 100%;
  min-height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 2px dashed var(--gray-0);
  border-radius: 0.5rem;
  cursor: pointer;

  transition: var(--trans-default);
}

.dropArea:hover {
  color: var(--primary-dark);
}

.nonInteractive {
  pointer-events: none;
}

.dropArea.small {
  min-height: 2rem;
  opacity: 0.5;
  border: 2px dashed var(--gray-1);
}

.dropArea.dragOver {
  background-color: var(--primary-opa);
  border-color: var(--primary-dark);
  color: var(--primary-dark);
}
