.root {
  text-transform: uppercase;
  font-size: small;
  font-weight: 600;
  padding: 0 0.75rem;
  border-radius: 0.33rem;
  background-color: var(--primary-light);
  color: white;
}

.warning {
  background-color: var(--warning);
  color: var(--warning-contrast);
}

.error {
  background-color: var(--error);
  color: var(--error-contrast);
}

.success {
  background-color: var(--success);
  color: var(--success-contrast);
}

.info {
  background-color: var(--info);
  color: var(--info-contrast);
}

.pink {
  background-color: var(--pink);
  color: var(--pink-contrast);
}
