.root {
}

.list {
  list-style-type: none;
  padding: 0;
}

.item {
  cursor: pointer;
  padding: 5px;
  margin: 5px 0;
  border-top: 1px solid var(--gray-1);
  border-left: 4px solid transparent;
}

.item strong {
  font-weight: 500;
}

.item small {
  font-size: 0.75rem;
}

.item:hover:not(.highlighted) {
  transform: scale(1.05);
  transition: var(--trans-default);
}

.highlighted {
  border-left: 4px solid var(--primary);
  transform: scale(1.05);
}

.link {
}
