.root {
}

.list {
  list-style-type: none;
  padding: 0;
}

.item {
  cursor: pointer;
  margin-bottom: 10px;
}

.item.active {
  background-color: yellow;
}

.item:hover {
  color: red;
}

.link {
}
