:root {
  --main-bg: #807a79;
  --main-color: #333;

  --paper-bg: #fff;
  --paper-shadow: -1px 1px 2px -1px #000;

  --primary: #f58216;
  --primary-light: #fa9c1b;
  --primary-dark: #f05e16;
  --primary-opa: rgba(245, 130, 22, 0.1);

  --gray-0: #666;
  --gray-1: #ccc;
  --gray-2: #ddd;
  --gray-3: #eee;

  --info: cyan;
  --info-contrast: black;
  --success: lime;
  --success-contrast: black;
  --warning: yellow;
  --warning-contrast: black;
  --error: red;
  --error-contrast: white;
  --pink: pink;
  --pink-contrast: black;

  --trans-default: all 0.1s ease;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--main-bg);
  color: var(--main-color);
}

* {
  box-sizing: border-box;
}
